<div class="container mt-4">
    <div class="row">
        <div class="col-sm-4">
            <mat-card>
                <mat-card-content>
                    <p class="fs-2 mb-5"><i class="fas fa-user-cog me-2 text-second"></i>Profile</p>
                    <p class="fs-6">Modifier vos informations</p>
                    <form #form="ngForm" (ngSubmit)="edit_pharmacie()" class="mb-4">
                        <mat-form-field class="example-full-width px-3">
                            <mat-label>Nom</mat-label>
                            <input matInput type="text" name="nom" [(ngModel)]="pharmacie.nom" #nom="ngModel" value="{{ pharmacie.nom }}" placeholder="Nom de la pharmacie" required>
                        </mat-form-field>
                        <mat-form-field class="example-full-width px-3">
                            <mat-label>Pseudo </mat-label>
                            <input matInput type="text" name="pseudo" [(ngModel)]="pharmacie.pseudo" #pseudo="ngModel" value="{{ pharmacie.pseudo }}" placeholder="Pseudo" required>
                        </mat-form-field>
                        <mat-form-field class="example-full-width px-3">
                            <mat-label>Mot de passe</mat-label>
                            <input matInput type="text" name="email" [(ngModel)]="pharmacie.password" #password="ngModel" value="{{ pharmacie.password }}" placeholder="Adresse e-mail" required>
                        </mat-form-field>
                        <div class="clearfix">
                            <button mat-raised-button class="float-end"><i class="fas fa-save text-second me-2"></i>Enregistrer</button>
                        </div>
                    </form>
                    <p class="fs-6">Modifier vos adresses téléphoniques</p>
                    <form class="mb-4">
                        <mat-form-field class="example-full-width px-3">
                            <mat-label>Numéro primaire</mat-label>
                            <input matInput type="text" name="primaire" [(ngModel)]="telephone.primaire" #primaire="ngModel" value="{{ telephone.primaire }}" placeholder="Nom de la pharmacie">
                        </mat-form-field>
                        <mat-form-field class="example-full-width px-3">
                            <mat-label>Numéro secondaire</mat-label>
                            <input matInput type="text" name="secondaire" [(ngModel)]="telephone.secondaire" #secondaire="ngModel" value="{{ telephone.secondaire }}" placeholder="Pseudo">
                        </mat-form-field>
                        <mat-form-field class="example-full-width px-3">
                            <mat-label>Numéro whatsapp</mat-label>
                            <input matInput type="text" name="whatsapp" [(ngModel)]="telephone.whatsapp" #whatsapp="ngModel" value="{{ telephone.whatsapp }}" placeholder="Adresse e-mail">
                        </mat-form-field>
                        <div class="clearfix">
                            <button mat-raised-button class="float-end"><i class="fas fa-save text-second me-2"></i>Enregistrer</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-8">
            <mat-card>
                <mat-card-content>
                    <p class="fs-2 mb-5"><i class="fas fa-map-marked-alt me-2 text-second"></i>Géolocalisation</p>
                    <p><i class="fas fa-chevron-right me-2"></i>
                        Veuillez indiquer votre position géographique sur le map ou remplissez les champs manullement pour que votre pharmacie soit localisable par vos clients. 
                    </p>
                    <form >
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field class="example-full-width px-3">
                                    <mat-label>Longitude</mat-label>
                                    <input matInput type="text" name="longitude" [(ngModel)]="coordonnee.longitude" #longitude="ngModel" value="{{ coordonnee.longitude }}" placeholder="Longitude" required>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field class="example-full-width px-3">
                                    <mat-label>Latitude</mat-label>
                                    <input matInput type="text" name="latitude" [(ngModel)]="coordonnee.latitude" #latitude="ngModel" value="{{ coordonnee.latitude }}" placeholder="Latitude" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="maps shadow p-2 rounded-3">
                            <div id="map" class="rounded-3"></div>
                        </div>
                        <div class="clearfix">
                            <button mat-raised-button color="primary" class="float-end my-2">Valider</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>