<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <form #form="ngForm" (ngSubmit)="search_pharmacie()" class="text-center">
                <mat-form-field class="example-full-width w-75" appearance="fill">
                    <mat-label>Pharmacies</mat-label>
                    <span matPrefix class="text-second"><i class="fa fa-search me-3 mb-1 fs-5"></i></span>
                    <input matInput type="text" name="nom" (keyup)="search_pharmacie()" [(ngModel)]="pharmacie.nom" #nom="ngModel" autofocus placeholder="Rechercher des pharmacies ...">
                    <span class="click" *ngIf="pharmacie.nom" matSuffix mat-icon-button aria-label="Clear" (click)="reload()">
                        <mat-icon>close</mat-icon>
                    </span>
                </mat-form-field>
            </form>
        </div>
        <div class="col-sm-4">
            <mat-card>
                <mat-card-content>
                    <h4 class="fs-5 text-success"><i class="fas fa-clinic-medical me-2 fs-5 text-second"></i>Listes de pharmacies</h4>
                    <div class= "shadow-sm p-2 mb-2 click" (click)="flyToPharmacie(pharmacie)" *ngFor="let pharmacie of pharmacies">
                        <div class="clearfix">
                            <span class="float-start">Ph. {{ pharmacie.nom }}</span>
                            <span class="float-end">{{ pharmacie.primaire }}</span>
                        </div>
                        <small>D. {{ pharmacie.distance }}</small>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-8">
            <div class="maps shadow rounded-3 mb-3">
                <div id="map"></div>
            </div>
            <button mat-raised-button class="text-success me-2" *ngIf="map_mode == 1" (click)="set_map_style(0)"><i class="fas fa-map text-second me-2 fs-5"></i>Vue : Satellite</button>
            <button mat-raised-button class="text-success me-2" *ngIf="map_mode == 0" (click)="set_map_style(1)"><i class="fas fa-map text-second me-2 fs-5"></i>Vue : Par défaut</button>
            <button mat-raised-button class="text-success me-2" (click)="flyToUser()"><i class="fas fa-crosshairs text-second me-2 fs-5"></i>Position</button>
            <button mat-raised-button class="text-success me-2" (click)="reload()"><i class="fas fa-sync-alt text-second me-2 fs-5"></i>Actualiser</button>
        </div>
    </div>
</div>