<div class="container mt-4">
    <div class="row">
        <div class="col-sm-8">
            <mat-card>
                <h2>Localiser une pharmacie</h2>
                <mat-card-content>
                    <p>Choisissez l'une des pharmacies sur la carte. la pharmacie présélectionnée est la proche de vous.</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card>
                <mat-card-content>
                    <h2>Nom de la pharmacie</h2>
                    <p>Numero de la pharmacie</p>
                    <p>Distance </p>
                </mat-card-content>
            </mat-card>
            <mat-card class="mt-3">
                <mat-card-content>
                    <h2>Nom du medicament</h2>
                    <p>Type</p>
                    <p>Prix </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>