<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scanner
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<div *ngIf="!showCamera">
  <ion-icon class="frame" name="qr-scanner">
  </ion-icon>
  <ion-button expand="block"  (click)="Barscan()" >
    <ion-icon slot="start" name="qr-scanner">
    </ion-icon>
  Scanner un Code
  </ion-button>

  <ion-card *ngIf="text==doli">
    <ion-card-content>
      <ion-card-title><h2> DOLIPRANE</h2></ion-card-title>
        <ion-card-title class="float-end"><small><h5><b>67 MRU</b></h5></small></ion-card-title>
        <small>Comprime effervescent 1000mg</small>
    </ion-card-content>
  </ion-card> 
  <ion-card *ngIf="text!=doli">
    <ion-card-content>
      <ion-card-title><h2> {{ text }}</h2></ion-card-title>
      <small> Medicament non trouve</small>
    </ion-card-content>
  </ion-card> 
</div>

</ion-content>
<app-footer></app-footer>