<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scanner
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-icon class="frame" name="qr-scanner"></ion-icon>
  <div *ngIf="!showCamera">
    <ion-button expand="block"  (click)="Barscan()" >
      <ion-icon slot="start" name="qr-scanner"></ion-icon>
      Scanner un Code
    </ion-button>

    <ion-item *ngIf="textScanned" lines="none">
      <ion-label>
        <p>Texte du QR Code</p>
        <h2><b>{{ textScanned.text }}</b></h2>
      </ion-label>
    </ion-item>
    </div>

</ion-content>
<app-footer></app-footer>