
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Medicaments
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
<input name="nom" type="search" [(ngModel)]="nom"   placeholder="Rechercher un medicament">
</ion-header>
<ion-content>

  <div *ngFor="let medicament of medicaments ">
    <ion-card>
      <ion-card-content>
        <ion-card-title><h3> {{medicament.nom}}</h3></ion-card-title>
          <ion-card-title class="float-end"><small><h6><b>Prix:{{medicament.prix}} MRU</b></h6></small></ion-card-title>
          <small>{{medicament.description}}</small>
      </ion-card-content>
    </ion-card>
  </div>
            
</ion-content>

<app-footer></app-footer>