
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Medicaments
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
<ion-searchbar placeholder="Rechercher un medicament"></ion-searchbar>
</ion-header>
<ion-content>

  <ion-infinite-scroll>
    <ion-infinite-scroll-content>

  <div *ngFor="let medicament of medicaments ">
    <ion-card>
      <ion-card-content>
        <ion-card-title><h2> {{medicament.nom}}</h2></ion-card-title>
          <p>{{medicament.description}}</p>
          <p><ion-card-title><h6><b>Prix:{{medicament.prix}} MRU</b></h6></ion-card-title></p>
      </ion-card-content>
    </ion-card>
    </div>
                  
    <ion-card>
      <ion-item>
        <ion-card-content>
          <ion-card-title><h1> Card Title</h1></ion-card-title>
            <p> Keep close to Nature's heart hi</p><p></p>
            <p><ion-card-title><h6><b>Prix:500 MRU</b></h6></ion-card-title></p>
        </ion-card-content>
      </ion-item>

</ion-card>


      </ion-infinite-scroll-content>
  </ion-infinite-scroll>  
</ion-content>

<app-footer></app-footer>