<div class="container mt-4">
    <div class="text-center">
        <mat-form-field class="w-75 mb-3">
            <span matPrefix class="text-second"><i class="fa fa-search me-3"></i></span>
            <input  matInput name="Input" type="search" [(ngModel)]="Input" placeholder="Rechercher des médicaments" autofocus>
            <button *ngIf="Input" matSuffix mat-icon-button aria-label="Clear" (click)="Input=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button class="ms-2 btn btn-sm bg-success text-white shadow-sm">Rechercher</button>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-card>
                <p class="fs-5"><i class="fas fa-capsules me-2 fs-2 text-second"></i>Liste des médicaments disponibles</p>
                <div class="p-2 mb-2 bg-light text-success">
                    <div class="row">
                        <div class="col-sm-9">
                            <p>Nom</p>
                        </div>
                        <div class="col-sm-2 text-end">
                            <p>Prix en <b>MRU</b></p>
                        </div>
                        <div class="col-sm-1 text-end">
                            <p>Etat</p>
                        </div>
                    </div>
                </div>
                <div class="p-2 mb-2 shadow-sm" *ngFor="let medicament of medicaments_online">
                    <div class="row">
                        <div class="col-sm-9">
                            {{ medicament.nom }} {{ medicament.description }}
                        </div>
                        <div class="col-sm-2 text-end">
                            {{ medicament.prix }} <b>MRU</b>
                        </div>
                        <div class="col-sm-1 text-end">
                            <mat-checkbox [(ngModel)]="medicament.etat" (click)="set_etat(medicament.id)" ></mat-checkbox>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-6">
            <mat-card>
                <p class="fs-5"><i class="fas fa-capsules me-2 fs-2 text-second"></i>
                    Liste des médicaments non disponibles 
                    <button mat-mini-fab color="accent">
                        +{{count_alert}}
                    </button>
                </p>
                <div class="p-2 mb-2 bg-light text-success">
                    <div class="row">
                        <div class="col-sm-9">
                            <p>Nom</p>
                        </div>
                        <div class="col-sm-2 text-end">
                            <p>Prix en <b>MRU</b></p>
                        </div>
                        <div class="col-sm-1 text-end">
                            <p>Etat</p>
                        </div>
                    </div>
                </div>
                <div class="p-2 mb-2 shadow-sm" *ngFor="let medicament of medicaments_offline">
                    <div class="row">
                        <div class="col-sm-9">
                            {{ medicament.nom }} {{ medicament.description }}
                        </div>
                        <div class="col-sm-2 text-end">
                            {{ medicament.prix }} <b>MRU</b>
                        </div>
                        <div class="col-sm-1 text-end">
                            <mat-checkbox [(ngModel)]="medicament.etat" (click)="set_etat(medicament.id)" ></mat-checkbox>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>