<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pharmacies
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" style="width: 100%; height: 100%">
  </div>
</ion-content>


<ion-bottom-sheet 
[(state)]="sheetState"
[title]="title"
[dockedHeight]="dockedHeight" 
[minHeight]="minHeight"
[enableScrollContent]="enableScrollContent"
[hideDragIcon]="hideDragIcon"
[hideCloseButton]="hideCloseButton"
[titleCentered]="titleCentered"
[topDistance]="topDistance"
>
<input name="nom" type="search" class="form-control" [(ngModel)]="value" (keyup)='get_pharmacie($event)' placeholder="Rechercher une pharmacie">
  <div  (click)="flyToPharmacie(pharmacie)" *ngFor="let pharmacie of pharmacies ">
    <ion-card >
      <ion-card-content>
        <ion-card-title><h2> {{pharmacie.nom}}</h2></ion-card-title>
          <ion-card-title class="float-end"><small><h4><b>{{pharmacie.primaire}}</b></h4></small></ion-card-title>
          <small>{{pharmacie.distance}} Km</small>
      </ion-card-content>
    </ion-card>   
  </div>
</ion-bottom-sheet>