<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-3">
            <mat-card class="text-dark mt-5">
                <mat-card-title class="text-center display-4">{{ title }}</mat-card-title>
                <mat-card-subtitle class="text-center text-second fa-2x">Connexion</mat-card-subtitle>
                <mat-card-content>
                    <mat-form-field class="example-full-width mb-3 px-4">
                        <mat-label>Adresse e-mail ou numéro de téléphone</mat-label>
                        <input matInput type="text" placeholder="Adresse e-mail ou numéro de téléphone" autofocus>
                    </mat-form-field>
                    <div class="my-4">
                        <a routerLink='/reset' class="text-decoration-none">Adresse e-mail oubliée ?</a>
                    </div>
                    <div class="clearfix">
                        <a routerLink='/inscription' class="text-decoration-none text-second float-start pt-2">Créer un compte</a>
                        <button mat-raised-button class="bg-success text-white float-end">Se connecter</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
