<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Medicaments
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="mapM" style="width: 100%; height: 100%">
  </div>
</ion-content>


<ion-bottom-sheet 
[(state)]="sheetState"
[title]="title"
[dockedHeight]="dockedHeight" 
[minHeight]="minHeight"
[enableScrollContent]="enableScrollContent"
[hideDragIcon]="hideDragIcon"
[hideCloseButton]="hideCloseButton"
[titleCentered]="titleCentered"
[topDistance]="topDistance"
>
  <div class="row">
    <div class="col-10">
    <input name="Input" (keyup)="get_medicaments()" class="form-control" [(ngModel)]="Input" #name="ngModel" 
               value="{{Input}}" [matAutocomplete]="auto" placeholder="Rechercher des médicaments">
    </div>
    <div class="col-2">
      <span matSuffix *ngIf="Input" (click)="Input=''"><mat-icon class="mt-2">close</mat-icon></span>
    </div>
  </div>
  
<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let medicament of medicaments" [value]="medicament.nom" (click)="search(medicament)">
          {{medicament.nom}} {{medicament.description}}
      </mat-option>
  </mat-autocomplete>
                
  <div  (click)="flyToPharmacie(pharmacie)" *ngFor="let pharmacie of pharmacies ">
    <ion-card >
      <ion-card-content>
        <ion-card-title><h2> {{pharmacie.nom}}</h2></ion-card-title>
          <ion-card-title class="float-end"><small><h5><b>{{pharmacie.primaire}}</b></h5></small></ion-card-title>
          <small>{{pharmacie.distance}}</small>
      </ion-card-content>
    </ion-card>   
  </div>
</ion-bottom-sheet>