<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-2">
            <mat-card class="text-dark mt-5">
                <mat-card-title class="text-success mb-3">{{ title }}</mat-card-title>
                <mat-card-title class="text-dark mt-3">Créer votre compte DAWINI</mat-card-title>
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6 p-3">
                            <p>Localiser l'emplacement de votre pharmacie</p>
                            <div class="row">
                                <div class="col-6">
                                    <mat-form-field class="example-full-width pe-3">
                                        <mat-label>X: Latitude</mat-label>
                                        <input matInput type="text" placeholder="Latitude">
                                    </mat-form-field>
                                    <p>Coordonnées GPS</p>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width pe-3">
                                        <mat-label>Y: Longitude </mat-label>
                                        <input matInput type="text" placeholder="Longitude">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div id="mainmap" class="shadow-sm">
                                <app-map></app-map>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix mt-3">
                        <a routerLink="/login" mat-button class="text-dark pt-1 text-primary">Se connecter à un compte existant</a>
                        <button mat-raised-button class="float-end bg-success text-white">S'inscrire</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

