
<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="../scanner" tab="scanner">
    <ion-label>Scanner</ion-label>
    <ion-icon name="scan-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="../home" tab="home">
    <ion-label>Home</ion-label>
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="../medicaments" tab="medicament">
    <ion-label>Medicaments</ion-label>
    <ion-icon name="medkit-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>