
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DAWINI
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid class="py-5">
    <ion-row>
      <ion-col class="ion-text-center ">
        <h1 class="display-1 font-weight-bold">DAWINI </h1>
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col>
      <ion-searchbar >
      </ion-searchbar>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>


