<div class="container mt-5" #body>
    <div class="row">
        <div class="col-sm-8 offset-2">
            <mat-form-field class="example-full-width mb-3" appearance="fill">
                <mat-label></mat-label>
                <span matPrefix class="text-second"><i class="fa fa-search me-3 mb-1 fs-5"></i></span>
                <input matInput type="text" [(ngModel)]="value" autofocus>
                <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                  <mat-icon>close</mat-icon>
                </button>
                <a routerLink="/search" matSuffix class="click text-second"><i class="fas fa-arrow-alt-circle-right mb-1 fs-5"></i></a>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p class="fs-2 mb-5"><i class="fas fa-clinic-medical me-2 text-second"></i>pharmacies</p>
            <div class="shadow-sm p-2 mb-2" *ngFor="let pharmacie of pharmacies">
                <p class="text-success fs-6" style="cursor: pointer" (click)="flyToPharmacie(pharmacie)">{{ pharmacie.nom }}</p>
                <small>{{ pharmacie.longitude }}</small>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="maps shadow-sm p-2 rounded-3">
                <div id="map" class="rounded-3"></div>
                <div class="coordinates"  #coordinates></div>
            </div>
            <div class="shadow-sm p-2 mt-2">
                <button mat-raised-button class="text-success me-2" *ngIf="map_mode == 1" (click)="set_map_style(0)"><i class="fas fa-map text-second me-2 fs-5"></i>Vue : Satellite</button>
                <button mat-raised-button class="text-success me-2" *ngIf="map_mode == 0" (click)="set_map_style(1)"><i class="fas fa-map text-second me-2 fs-5"></i>Vue : Par defaut</button>
                <button mat-raised-button class="text-success me-2" (click)="flyToUser()"><i class="fas fa-crosshairs text-second me-2 fs-5"></i>Position</button>
            </div>
        </div>
    </div>
</div>