<div class="container mt-5">
    <div class="row">
        <div class="col-sm-8">
            <mat-card>
                <h3>Nom du médicament</h3>
                <p>Description : </p>
                <p>Prix : </p>
                <p>Etat : </p>
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card>
                <h3>Modifier médicament</h3>
                <form action="">
                    <mat-form-field class="example-full-width px-3">
                        <mat-label>Nom du médicament</mat-label>
                        <input matInput type="text" placeholder="Nom du médicament">
                    </mat-form-field>
                    <mat-form-field class="example-full-width px-3">
                        <mat-label>Description</mat-label>
                        <input matInput type="text" placeholder="Description">
                    </mat-form-field>
                    <div class="clearfix">
                        <button mat-raised-button class="bg-success text-white float-end me-3">Modifier</button>
                        <button mat-raised-button class="bg-light float-end me-3 text-dark">Annuler</button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>